#window{background-color: #333333;}

#fileButton,
#fileButton:active,
#fileButton:checked
{
  border: none;
  background-image: none;
  color: #333333;
  border-radius: 0;
  background-color: #FFFFFF;
}

#convertButton,
#convertButton:active,
#convertButton:checked
{
  border: none;
  background-image: none;
  color: #333333;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #FFFFFF;
}

#fileButton:hover,
#convertButton:hover
{
  box-shadow: inset 0 0 5px #333333;
}

#inputField,
#inputField:active,
#inputField:focus
{
  color: #333333;
  background-color: #FFFFFF;
  outline: none;
  border: none;
  border-radius: 0;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#inputField:focus
{
  box-shadow: inset 0 0 5px #333333;
  outline: none;
  border: none;
}

#scrollingWindow
{
  background-color: white;
  padding: 5px;
}
