#window
{
  background-color: #333333;
}

#button,
#button:active,
#button:checked
{
  border: none;
  background-image: none;

  color: #000;
  border-radius: 0.3em;
  background-color: #FFF;
}

#button:hover
{
  box-shadow: inset 0 0 5px #333333;
}

#inputField
{
  color: #000000;
  background-color: #FFFFFF;
  caret-color: #000000;
}
